 <footer class="default-footer text-center">
        <div class="container">
          <img class="mb-40 footer-logo" src="{{ BASE_PATH }}/img/logo.png" alt="">
          <span class="copy-right dis-blk" style="color:var(--color-3)">Desarrollado por <a class="morel" href="https://febr3s.xyz">@febr3s</a></span>
          <span class="social">
                  
                  <a class="morel" href="https://twitter.com/morelrep"><i class="fa fa-2x fa-twitter"></i></a>
                  
                  <a class="morel" href="https://www.instagram.com/morelrep/"><i class="fa fa-2x fa-instagram"></i></a>                            
                
          </span>
        </div>
      </footer>