<!--Nav Bar-->
    <nav class="navBar">
        <nav class="wrapper">
            <div class="logo" >
                <a href="{{ BASE_PATH }}/index.html"><img src="{{ BASE_PATH }}/img/logo.png" alt="MOREL" class="logo-img"></a>

            </div>


            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="label-toggle"></label>
            <ul>
                <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href="/agregar"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
                <li><a href="{{ BASE_PATH }}/2022/01/05/morel.html"><i class="fa fa-question" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </nav>