<div class="row">

            {% for ciudad in site.cities %}
            <div class="basis obras-ciudad">
                    <div class="container">
                        <h2><a class="morel" href="{{ site.baseurl }}{{ ciudad.url }}">{{ ciudad.title }}</a></h2>
                    </div>
                    {% for book in site.books %}
                    {% if book.ciudad == ciudad.title %}
                    <div class="price">
                      <div class="title"><h4><a href="{{ BASE_PATH }}{{ book.url }}">{{book.title}}</a></h4></div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
           {% endfor %}       
</div>