<div class="obra-dia sombra">
            <div class="ficha-container" style="">
                <div class="ficha-title">
                    <h2>
                        Acerca de morel
                    </h2>
                </div>
                <div class="ficha-extract" style="">
                    <p>{{ site.author.description }}</p>
                    <p class="morel">Puedes acompañarnos <a href="{{ BASE_PATH }}/agregar">agregando contenido</a>, siguiendo nuestras redes y compartiendo este recurso con quien pueda encontrarlo útil.</p>
                    <p>¿Quieres <a class="morel" href="{{ BASE_PATH }}/morel">saber más</a>?</p>
                </div>
                <div class="ficha-metadata">
                </div>
            </div>
            <div class="avatar" style="">
                <div class="img-frame">
                    <img src="{{ BASE_PATH }}/img/avatar.png" class="responsive">
                </div>
            </div>
            <div class="actions-v">
                
            </div>
</div>