<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3PMH5XXM6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H3PMH5XXM6');
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ BASE_PATH }}/css/main.css">
</head>

<body>
    <script>0</script>
    {% include nav-bar.html %}
 
    <!--main container and title page-->
    <div class="main-container">
        
        <!-- contenido -->
        
        {{ content }}

      
         <!--promoción proyecto-->
        {% include promotion.html %}
    </div>
       

    <!--footer-->
 

      {% include footer.html %}
    <!-- fin del footer -->
 
</body>
</html>