---
layout: default
---
        <h1 class="index">{{ page.tagline }}</h1>
        
        <!--Búsqueda-->
        <a href="search"><div class="search-index"><i class="fa fa-search" aria-hidden="true" class="search-index"></i></div></a>

        <!--Criterios -->
        <div class="row obras">
            <h2 class="index">Obras por categoría</h2>
        </div>

        {% include chriteria.html %}


        <!--Ocho al azar-->        
        <div class="row obras">
            <h2 class="index">Ocho obras al azar</h2>
        </div>
        {% include lista-todas-sample.html %}
       

        <!--Última vitrina-->
        <div class="row obras">
            <h2 class="index">Última vitrina</h2>
        </div>
        <div class="row obras">
            <p class="index">Por autoras que nacieron o fallecieron en enero</p>
        </div>
        {% include ultima-vitrina.html %}

        <!--Una al azar -->
        <div class="row obras">
            <h2 class="index">Tu obra de la suerte</h2>
        </div>
        {% include book-sample.html %}